<app-card title="Iron Man" year="May 2, 2008" url="https://www.themoviedb.org/t/p/original/gSDoME541NMgSEXydXgG6BFc47U.jpg"></app-card>
<app-card title="Avengers: Age of Ultron" year="May 1, 2015" url="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4411b642232141.57c5be4a3ae8d.jpg"></app-card>
<app-card title="Avengers: Endgame" year="April 26, 2019"></app-card>

