<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img [src]="url" alt="" width="30" height="30" class="d-inline-block align-text-top">
        {{name}}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Iron Man">Movie #1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Avengers: Age of Ultron">Movie #2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Avengers: Endgame">Movie #3</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
