<div class="col-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>{{title}}</h2>
    </div>
    <div class="card-body myCard">
      <img [src]="url" class="card-img-top" alt="">
      <div class="card-body">
        <p class="card-text  text-uppercase">Release date: {{year}}</p>
      </div>
    </div>
  </div>
</div>
