.card-header {
  padding: 8px 0px;
}
.card {
  padding-left: 0px;
  padding-right: 0px;
}
.card-text {
  font-weight: bold;
}
.card h2 {
  font-size: 27px;
}
.myCard {
  padding-bottom: 0;
}
.col {
  width: 33.3%;
}
