<app-header></app-header>
<div class="container">
  <h1 class="text-center text-uppercase mt-4 mb-4">{{title}}</h1>
    <app-sidebar></app-sidebar>
  <div class="row justify-content-center">
    <app-content></app-content>
  </div>
</div>
<app-footer></app-footer>
