<div class="col p-3 bg-light sidebar text-center">
  <h4>{{title}}</h4>
  <span>in chronological order</span>
  <hr>
  <ul class="nav flex-column text-start">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: July 22, 2011">
        1. Captain America: The First Avenger
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: March 8, 2019">
        2. Captain Marvel
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 2, 2008">
        3. Iron Man
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 7, 2010">
        4. Iron Man 2
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: June 13, 2008">
        5. The Incredible Hulk
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 6, 2011">
        6. Thor
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 4, 2012">
        7. The Avengers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: November 8, 2013">
        8. Thor: The Dark World
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 3, 2013">
        9. Iron Man 3
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: April 4, 2014">
        10. Captain America: The Winter Soldier
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: August 1, 2014">
        11. Guardians of the Galaxy
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 5, 2017">
        12. Guardians of the Galaxy 2
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 1, 2015">
        13. Avengers: Age of Ultron
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: July 17, 2015">
        14. Ant-Man
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: May 6, 2016">
        15. Captain America: Civil War
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: July 7, 2017">
        16. Spider-Man: Homecoming
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: November 4, 2016">
        17. Doctor Strange
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: July 9, 2021">
        18. Black Widow
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: February 16, 2018">
        19. Black Panther
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: November 3, 2017">
        20. Thor: Ragnarok
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: July 6, 2018">
        21. Ant-Man and the Wasp
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: April 27, 2018">
        22. Avengers: Infinity War
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: April 26, 2019">
        23. Avengers: Endgame
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: September 3, 2021">
        24. Shang-Chi and the Legend of the Ten Rings
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark" data-bs-toggle="tooltip" data-bs-placement="right" title="Release Date: July 2, 2019">
        25. Spider-Man: Far From Home
      </a>
    </li>
  </ul>
</div>
