*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-image: url("https://www.xtrafondos.com/wallpapers/avengers-endgame-2988.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  padding: 0 15px;
}
